{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "Promise": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js"],
      "extends": [
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
        //"plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {
        "project": "tsconfig.eslint.json",
        "tsconfigRootDir": "./",
        "sourceType": "script", // cambiar a module cuando se convierta en un proyecto full ESM
        "ecmaVersion": "latest",
        "ecmaFeatures": { "arrowFunctions": true }
      }
    }
  ],
  "ignorePatterns": ["node_modules", "dist", ".eslintrc", "jest.config.js"],
  "rules": {
    "no-unused-vars": "warn",
    "require-await": "warn",
    "no-console": "warn",
    "comma-spacing": "warn",
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "semi-spacing": "error",
    "eol-last": ["error", "always"],
    "no-multi-spaces": "error",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
  }
}
